*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Norse Bold'; 
    src: url('./Norse-Bold.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

body{
color: white;
background: black;
font-family: Roboto, monospace;
}
/* .container, aside, main{
  border: 2px solid;
} */

.container{
  display: flex;
}

aside{
  background-image: url(./cover_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30vw;
  height: 100vh;
}

main{
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.head, .form, .foot{
  flex: 1;
  background-color: rgb(247 247 247);
  color: black;
}
.head .text-content{
  margin: 0px 20px;
  margin-top: 100px;
 }
.text-content > p:first-child  {
  font-weight: bolder;
  font-size: 1rem;
  width: 55ch;
  padding-bottom: 20px;
}
.foot{
  padding: 20px 30px;
}
.foot button{
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #596D48;
  color: white;
  box-shadow: 0px 0px 2px 0px #00000082;
}

.form{
  z-index: 1;
  background-color: white;
  box-shadow: 2px 5px 5px #0000001f;
}