*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background: black;
}

.container{
  display: flex;
  border: 2px solid;
  
}

aside{
  width: 40vw;
  border: 2px solid;
}

main{
  width: 60vw;
  border: 2px solid;
}